<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebExample</display-name>
  
    <!-- 配置WEB应用的初始化参数 -->
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/test</param-value>
    </context-param>
  
  <servlet>
  	<servlet-name>ServletDemo01</servlet-name>
  	<servlet-class>com.example.demo.ServletDemo01</servlet-class>
  </servlet>
      <servlet>
        <servlet-name>ServletConfigDemo1</servlet-name>
        <servlet-class>com.example.demo.ServletConfigDemo1</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>demo</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>123</param-value>
        </init-param>
        <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>

  <servlet>
  	<servlet-name>ServletContextDemo1</servlet-name>
  	<servlet-class>com.example.demo.ServletContextDemo1</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>ServletContextDemo2</servlet-name>
  	<servlet-class>com.example.demo.ServletContextDemo2</servlet-class>
  </servlet> 
  
  <servlet>
  	<servlet-name>ServletContextDemo3</servlet-name>
  	<servlet-class>com.example.demo.ServletContextDemo3</servlet-class>
  </servlet> 
  
  <servlet>
  	<servlet-name>ServletContextDemo4</servlet-name>
  	<servlet-class>com.example.demo.ServletContextDemo4</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletContextDemo5</servlet-name>
  	<servlet-class>com.example.demo.ServletContextDemo5</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>ServletDemo5</servlet-name>
  	<servlet-class>com.example.demo.ServletDemo5</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>ResponseDemo1</servlet-name>
  	<servlet-class>com.example.demo.ResponseDemo1</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>ResponseDemo2</servlet-name>
  	<servlet-class>com.example.demo.ResponseDemo2</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>ResponseDemo3</servlet-name>
  	<servlet-class>com.example.demo.ResponseDemo3</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>DrawImage</servlet-name>
  	<servlet-class>com.example.demo.DrawImage</servlet-class>
  </servlet> 
  
  <servlet-mapping>
  	<servlet-name>ServletDemo01</servlet-name>
  	<url-pattern>/web.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletConfigDemo1</servlet-name>
  	<url-pattern>/ServletConfigDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletContextDemo1</servlet-name>
  	<url-pattern>/ServletContextDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletContextDemo2</servlet-name>
  	<url-pattern>/ServletContextDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletContextDemo3</servlet-name>
  	<url-pattern>/ServletContextDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletContextDemo4</servlet-name>
  	<url-pattern>/ServletContextDemo4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletContextDemo5</servlet-name>
  	<url-pattern>/ServletContextDemo5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo5</servlet-name>
  	<url-pattern>/ServletDemo5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResponseDemo1</servlet-name>
  	<url-pattern>/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResponseDemo2</servlet-name>
  	<url-pattern>/ResponseDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResponseDemo3</servlet-name>
  	<url-pattern>/ResponseDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DrawImage</servlet-name>
  	<url-pattern>/DrawImage</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

</web-app>